# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
*.env
venv/
env/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/

# Migrations
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Linux
*~

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pytest
.pytest_cache/

# Celery
celerybeat-schedule
celerybeat.pid

# Docker
*.pid
*.log
docker-compose.override.yml

# Other
*.sqlite3
